name: Build Image
on:
  pull_request:
    branches:
      - main
  schedule:
    - cron: '00 03 * * 6'
  push:
    branches:
      - main
    paths-ignore:
      - '**/README.md'
  workflow_dispatch:

env:
  IMAGE_NAME: "bootc-centos"
  IMAGE_REGISTRY: "ghcr.io/${{ github.repository_owner }}"
  DEFAULT_TAG: "latest"
  MAJOR_VERSION: "10"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build_push:
    name: Build and push image
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set Default Tag
        run: |
          if [ "${{ github.ref }}" = "refs/heads/main" ]; then
            echo "DEFAULT_TAG=latest" >> $GITHUB_ENV
          else
            echo "DEFAULT_TAG=${{ github.ref_name }}" >> $GITHUB_ENV
          fi

      - name: Get current date
        id: date
        run: echo "date=$(date -u +%Y%m%d)" >> $GITHUB_OUTPUT

      - name: Image Metadata
        uses: docker/metadata-action@v5.10.0
        id: metadata
        with:
          tags: |
            type=raw,value=${{ env.DEFAULT_TAG }}
            type=raw,value=${{ env.DEFAULT_TAG }}.{{date 'YYYYMMDD'}}
          labels: |
            org.opencontainers.image.created=${{ steps.date.outputs.date }}
            org.opencontainers.image.title=${{ env.IMAGE_NAME }}
            org.opencontainers.image.url=https://github.com/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
            org.opencontainers.image.version=${{ env.MAJOR_VERSION }}.{{date 'YYYYMMDD'}}
            containers.bootc=1
          sep-tags: " "
          sep-annotations: " "

      - name: GHCR Login
        uses: docker/login-action@v3
        if: github.event_name != 'pull_request'
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build, Rechunk, and Push
        id: bootc
        uses: jharmison-redhat/action-bootc-build@v1
        with:
          labels: ${{ steps.metadata.outputs.labels }}
          tag: "${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.DEFAULT_TAG }}"
          authfile: /home/runner/.docker/config.json
          push: true

      - name: Add date-specific tag
        if: github.event_name != 'pull_request'
        run: |
          IMAGE_FULL="${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}"
          DATE_TAG="${{ env.DEFAULT_TAG }}.${{ steps.date.outputs.date }}"

          sudo podman tag "${{ steps.bootc.outputs.tag }}" "$IMAGE_FULL:$DATE_TAG"
          sudo podman push --authfile /home/runner/.docker/config.json "$IMAGE_FULL:$DATE_TAG"
          echo "DATE_TAG=$DATE_TAG" >> $GITHUB_ENV

      - name: Install Cosign
        if: github.event_name != 'pull_request'
        uses: sigstore/cosign-installer@v3.10.0

      - name: Sign images
        if: github.event_name != 'pull_request'
        run: |
          IMAGE="${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}"
          TAGS=("${{ env.DEFAULT_TAG }}" "${{ env.DATE_TAG }}")
          for tag in "${TAGS[@]}"; do
            DIGEST=$(skopeo inspect --raw "docker://${IMAGE}:${tag}" | jq -r .config.digest)
            cosign sign -y --key env://COSIGN_PRIVATE_KEY "$IMAGE@$DIGEST"
          done
        env:
          COSIGN_PRIVATE_KEY: ${{ secrets.SIGNING_SECRET }}
          COSIGN_EXPERIMENTAL: false
